.body {
    min-height: 100%;
    min-width: 100%;
    /* background-color: lightblue; */
    background-image: url("background-1.jpg");
    /* background-repeat: no-repeat; */
    
}

.heading {
    font-family:monospace;
    font-size: 1.6rem;
    text-align: center;
    padding: 5px;
    margin-top: 150px;
}

.sub-heading {
    font-family:sans-serif;
    padding: 5px;
    text-align: center;
}

.form {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px;
}

.form-input {
    padding: 5px;
}

.form-input-box {
    margin: 10px;
    padding: 5px;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    position: relative;
}


.btn {
    padding: 7px;
    margin: 7px;
    color: white;
    font-size: 1.1rem;
    background-color: #037BFF;
    border-radius: 10px;

}

nav ul li a
{
    color: black !important;
}

.logo
{
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
}
.nav-element
{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}
nav ul
{

}

.home-content
{
    color: black;
    padding: 3%;
    border: solid black 2px;
}
.home-content h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
}
.home-content h3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
.projects-content
{
    padding-top: 3%;
}

.projects-content h3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: bold;
}

.skills-content
{
    padding-top: 3%;
}
.skills-content h3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: bold;

}
.mycont
{
    border: 5px solid black;
}
.myrows
{
    border: 2px solid grey;
}
.mycols
{
    border: 2px solid grey;
}